<div class="body-content" id="bc-anuncio">
  <div class="module" id="bc-module">
    <h1>Insira os dados do anúncio a ser cadastrado.</h1>

    <form
      id="form-anuncio"
      class="form"
      action="../../controller/cadastrar_anuncio.php"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="imagem" , id="imagem" />
      <input type="text" name="titulo" id="titulo" placeholder="Título" />
      <input type="number" name="valor" id="valor" placeholder="Valor" />
      <input
        type="text"
        name="descricao"
        id="descricao"
        placeholder="descrição"
      />
      <input type="date" name="data_anuncio" id="data_anuncio" />
      <button
        class="btn btn-block btn-primary"
        type="submit"
        value="Cadastrar Anuncio"
      >
        Cadastrar Anúncio
      </button>
    </form>
  </div>
</div>
