<div class="login-page">
  <div class="form">
    <form
      class="login-form"
      action="../../controller/realizar_login.php"
      method="post"
    >
      <input type="text" name="email" id="email" placeholder="Usuário" />
      <input type="password" name="senha" id="senha" placeholder="Senha" />
      <button type="submit" value="Login">LOGIN</button>
      <p class="message">
        Não é cadastrado? <a href="../views/Cadastro.php">Crie uma conta</a>
      </p>
    </form>
  </div>
</div>
