<h2>Insira os dados do anúncio a ser cadastrado.</h2>

<form
  action="../../controller/cadastrar_anuncio.php"
  method="post"
  enctype="multipart/form-data"
>
  <input type="file" name="imagem" , id="imagem" />
  <input type="text" name="titulo" id="titulo" placeholder="titulo" />
  <input type="number" name="valor" id="valor" placeholder="valor" />
  <input type="text" name="descricao" id="descricao" placeholder="descricao" />
  <input type="date" name="data_anuncio" id="data_anuncio" />
  <input type="submit" value="Cadastrar Anuncio" />
</form>
