<h1>Perfil do Usuário</h1>
<div style="display: flex">
  <div
    style="
      display: flex;
      flex-direction: column;
      border: 1pt solid blue;
      width: 25%;
    "
  >
    <h1>Dados do Usuário</h1>
    <div
      style="
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      "
    >
      <h3>
        Perfil de
        <!--TITULONOME-->
      </h3>
      <!--FORMEDITARUSUARIO-->
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th colspan="5">INFORMAÇÕEAS DO USUARIO</th>
          </tr>
        </thead>
        <tbody>
          <!--TABLEROWS-->
        </tbody>
      </table>
    </div>
  </div>
  <div
    style="
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 1pt solid green;
      width: 65%;
    "
  >
    <h1>Anúncios do Usuário</h1>

    <!--ANUNCIOSUSUARIO-->
  </div>
</div>
